# Java
*.class
*.jar
!target/aquaculture-1.0.0.jar
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log
gc.log

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db
